# Created by venv; see https://docs.python.org/3/library/venv.html


# =========================
# Python
# =========================

# =========================
# Virtual Environment
# =========================
venv/
env/
ENV/
.venv/

# =========================
# Environment Variables
# =========================
.env
.env.*
*.env

# =========================
# Django
# =========================

# =========================
# Migrations (optional)
# =========================
# */migrations/
# !*/migrations/__init__.py

# =========================
# IDE / Editor
# =========================


# =========================
# OS
# =========================
